#content {
  .contactForm {
    margin-bottom: 75px;
    .wpcf7-form {
      label {
        text-align: left;
      }
      .contactForm {
        padding-left: 0;
        padding-right: 0;
      }
      .wpcf7-response-output {
        margin: 0;
        color: #E03021;
        font-weight: 600;
      }
      .wpcf7-validation-errors {
        border: none;
      }
      .wpcf7-not-valid-tip {
        color: #E03021;
        font-size: 10.5px;
        font-weight: 600;
        display: block;
      }
    }
  }
  .contentPage {
    margin-top: 75px;
  }
  .textChiensChats {
    .colArchiveChat {
      margin-top: 20px;
      float: none;
      display: inline-block;
      vertical-align: top;
      min-height: 220px;
      margin: 15px;
      padding: 0;
      border: solid 1px $gray-dark;
      overflow: hidden;
      &:hover {
        border: solid 1px $gray;
        .imageChat {
          .hover {
            top: 0;
            visibility: visible;
          }
        }
        .textChat {
          background-color: $secondary-color;
          transition-duration: 0.8s;
          color: #fff;
          h3 {
            color: $primary-color;
          }
        }
      }
      @media (min-width: $screen-md-min) {
        width: 24%;
      }
      @media (max-width: $screen-md-min) {
        width: 85%;
      }
      .imageChat {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        .hover {
          z-index: 0;
          visibility: hidden;
          position: absolute;
          left: 0;
          top: 250px;
          width: 100%;
          height: 250px;
          padding: 20px 15px;
          color: $primary-color;
          background-color: rgba(225, 181, 110, 0.65);
          transition-property: top;
          transition-duration: 0.8s;
          p {
            text-align: left;
            line-height: 1.4;
            max-height: 150px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .textChat {
        padding: 10px 10px 10px 10px;
        height: 70px;
        background-color: #fff;
        color: $gray;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 9999999;
        position: absolute;
        left: 0;
        right: 0;
        h3 {
          margin: 0;
          color: $gray-dark;
        }
        .chatInfos {
          padding: 0;
          width: 100%;
          h3 {
            font-weight: 600;
            width: 100%;
          }
        }
      }
    }
  }
}